
<div class="container">
  <h3 class="my-3">Login Page</h3>
  <div *ngIf="errorMessage" class="alert alert-danger">
    Incorrect credentials!
  </div>
  <div class="mb-3">
    <label for="emailInput" class="form-label">Email address</label>
    <input 
      style="width: 400px;"
      type="email"
      class="form-control"
      id="emailInput" 
      placeholder="Enter your email"
      [(ngModel)]="loginEmail"
      >
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input 
      style="width: 400px;"
      type="password"
      class="form-control"
      id="passwordInput"
      placeholder="Enter a password"
      [(ngModel)]="loginPassword"
    >
  </div>
  <p style="font-size: 12px;" >Don't have an account? Register <a routerLink="/register">here</a></p>
  <button class="btn btn-primary"
  (click)="loginAccount()"
  >Login</button>
</div>